<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{title}}
  </title>
  {% if description %}
  <meta name="description" content="{{description}}" />
  {% endif %}
  {% block head %}{% endblock %}

  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  {% if prism == true %}
  <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
  {% endif %}
  <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.31/default/snipcart.css" />

</head>

<body>
  <div class="bg-indigo-200">
    {% include "./partials/navbar.html" %}

    {{ content | safe }}
    {% if page.url == '/' %}
    {% include "./partials/hero.html" %}
    {% include "./partials/inlineBanners.html" %}

    {% include "./partials/features.html" %}
    {% include "./partials/about.html" %}
    {% include "./partials/testimonials.html" %}
    {% include "./partials/quickLinks.html" %}
    {% include "./partials/footer.html" %}
    {% endif %}

  </div>
  <script src="/static/js/alpine.js"></script>

  {% if path == "home" %}
  


  {% endif %}
  <!-- <div hidden id="snipcart" data-api-key="{{ snipcart.apiKey }}"></div> -->

  <script async src="https://cdn.snipcart.com/themes/v3.0.31/default/snipcart.js"></script>

</body>

</html>